.box {
    width: 150px;
    height: 150px;
   
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    flex-wrap: wrap;
  }
  .form-check{
    text-align: left;
  }